@import url('https://fonts.googleapis.com/css?family=Montserrat');

body,html{
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

#mainNav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10000;
}

#navLinks>li>a{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 5px;
}



#brand:hover, #mainFooter>div>ul>li>a>i:hover{
    color: rgb(204, 204, 204);
}

#content{
    margin-top: 56px;
}



#mainFooter>div>ul>li>a{
    padding-right: 11px;
    padding-left: 11px;
}

.customText{
    color: #F2F2F2
}

.nav-pills>li>a:hover{
    background-color: #F2F2F2;
    color: black
}

#mainMap{
    height: 100%;
    width: 100%;
}
#refreshContainer{
    margin-left: 10px;
    margin-bottom: 8px;
    margin-right: 10px
}
#refreshBtn{
    font-weight: bold;
    border-radius: 10px;
    pointer-events: auto;
    width: 200px;
    height: 25px;
    margin-bottom: 3px
}
#refreshStatus{
    font-style: italic;
    border-radius: 10px;
    background-color: grey;
    opacity: 0.8;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 0px;
}












